
header{
	background-color: #ffffff;
	height: 110px;
	background-size: cover;
	background-position: center;
	position: sticky;
	top: 0;

}
.main-nav1{
	float: right;
	list-style: none;
	margin-top: 50px;
	margin-right: 50px;

}
.main-nav1 li {
	display: inline-block;

}
.main-nav1 li a {
	color: black;
	text-decoration: none;
	padding: 10px 30px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav1 li a:hover {
	border-top: 3px solid #b69e4f;
	color: #b69e4f;
}

.row1 {
	max-width: 1200px;
	margin: auto;
}
.hero {
	width: 1200px;
	margin-left: 0px;
	margin-top: 0px;

}
.logo img {
	width: 300px;
	height: auto;
	float: left;
}
#bannhac h1{
	color: white;
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	margin-top: 0px;
	padding-top: 180px;
}

.button {
	margin-top: 10px;
	margin-left: 390px;
}
.col .button a{
	color: white;
}
.btn {
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 18px;
	text-transform: uppercase;
	background-color: red;
}
.btn-one:hover {
	background-color: darkorange;

}
.btn-two:hover {
	background-color: darkorange;
}
.diary {


	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 24px;
	text-transform: uppercase;
	
}
.dropdown-content {
	margin-top: 5px;
    display: none;
    background-color: #242630;
    width: 286.67px;
    border-radius: 5px;
    z-index: 1;
}
.main-nav1 .dropdown-content a {
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdown1:hover .dropdown-content {
    display: block;
}
.dropdown2:hover .dropdown-content {
    display: block;
}
.container-footer {
	height: 550px;
	border-top: 4px solid #b69e4f;
}
.container-footer2 {
	height: 40px;
	background-color: #b69e4f;
}
.container-footer2 p {
	text-align: center;
	padding-top: 7px;
}
.row {
	margin-top: 30px;
}
.col h5{
	color: #6f7272;
}
.list-inline li{
	display: inline-block;
	margin-top: 15px;
}
.socialElement {
	padding-left: 5px;
}
.box{
	width: 150px;
}
.col a {
	color: #6f7272;
}
.col p {
	color: #6f7272;
}
.col .map {
	width: 700px;
	height: 200px;
}
.content {
	width: 100%;
	background-image: url('/img/bannhac2.jpg');
	height: 500px;
}
.bannhac-button {
	width: 200px;
	height: 60px;
	background-color: red;
	
}
.content2 {
	background-color: white;


	border-top: 4px solid #b69e4f;

}
.content2 .container {
	margin-top: 30px;
}
.content2 .container p {
	font-size: 19px;
	font-family: "GillSans Regular";
	color: #54534a;
	line-height: 30px;
	display: block;
	text-align: center;

}
.content2 .container h2 {
	font-family: "Baskerville Regular";
	font-size: 40px;
	font-weight: 500;
	color: #54524a;
	text-align: center;
}
 #gioithieu2 {
	width: 650px;
	height: 150px;
	margin-left: 370px;
}
#gioithieu3 {
	height: 450px;
}
#gioithieu3 img {
	float: left;
}
.anh1 {
	display: block;
}
.anh1:hover .dinhnghia1{
	display: block;
	opacity: 1;
}
.anh1 img {
	display: block;
}
.anh1 .dinhnghia1 {
	width: 350px;
	height: 350px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.7s ease;
	opacity: 0;
}
.anh1 .dinhnghia1 p {
	font-size: 18px;
	font-family: "GillSans Regular";
	color: #ffffff;
	line-height: 30px;
	display: block;
	text-align: center;
}
.anh2 {
	display: block;
}
.anh2:hover .dinhnghia2{
	opacity: 1;
}
.anh2 img {
	display: block;
}
.anh2 .dinhnghia2 {
	width: 350px;
	height: 350px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.7s ease;
	opacity: 0;
}
.anh2 .dinhnghia2 p {
	font-size: 18px;
	font-family: "GillSans Regular";
	color: #ffffff;
	line-height: 30px;
	display: block;
	text-align: center;
}

